<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vibeverse">

    <application>
        <activity android:name=".FakeHomePage" />
        <activity android:name=".FakeProfilePage" />
        <activity android:name=".FakeSelectMoodActivity" />
    </application>
</manifest>
